<!DOCTYPE html>
<html>
	<head>
		<title>Locations</title>
		<link href="{{ url_for('static', filename='css/locations.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="contenu">
			<h2>Location</h2>
			<div class="offres">
				{% for i in bdd %}
				<div class="loc" onclick="window.location = '/locations/{{i.id}}';">
					<h3>{{i.title}}</h3>
					<p class="droite"><a href="/profile/{{i.author.username}}">{{i.author.username}}</a></p>
				</div>
				{% endfor %}
				<p><a href="search">Rechercher</a></p>
				<a href="/">Retour</a>
			</div>
		</div>
	</body>
</html>