<!DOCTYPE html>
<html>
	<head>
		<title>{{ name }}</title>
		<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="contenu">
			<div class="profil">
				<h2>{{name}}</h2>
				<div class="contenugauche">
					<h3>Mes Offres</h3>
					{% if propositions %}
					{% for i in propositions %}
					<p><a href="/locations/{{i.id}}">{{i["title"]}}</a> <a href="/modif/{{i.id}}" class=modif>[Modifier l'offre]</a></p>
					{% endfor %}
					<a href="/create">Creer une nouvelle Offre</a>
					{% else %}
					<p>Vous n'avez aucune offre</p>
					<a href="/create">Louez votre maison !</a>
					{% endif %}
				</div>
				<div class="contenudroite">
					<h3>Conversations</h3>
					{% if conv %}
					{% for i in conv %}
					<p><a>{{i}}</a></p>
					{% endfor %}
					{% else %}
					<p>Vous n'avez aucune conversations</p>
					{% endif %}
				</div>
				<p class="menu"><a href="/">Menu</a></p>
			</div>
		</div>
	</body>
</html>