<!DOCTYPE html>
<html>
	<head>
		<title>Locations</title>
		<link href="{{ url_for('static', filename='css/locations.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="contenu">
			<h2>Location</h2>
			<div class="offres">
				<p>Ville : <input type="text" size="10" maxlength="50" id="location" /></p>
				<p>Prix max: <input type="text" size="7" maxlength="10" id="price" /></p>
				<button onclick="recherche();">Rechercher</button>
				<p><a href="/locations">Retour</a></p>
				<p></p>
				<div id="affiche"></div>
				<script language="Javascript">
					var aff = document.getElementById("affiche");
					function recherche()
	                {
						var location = document.getElementById("location").value;
						var price = document.getElementById("price").value;
						var xhr = new XMLHttpRequest();
	                    xhr.open('POST', '/recherche');
	                    var form = new FormData();
	                    form.append('location', location);
	                    form.append('price', price);
	                    xhr.onreadystatechange = function()
	                    {
	                    	var div = document.getElementById('affiche');
	                    	while(div.firstChild){
								div.removeChild(div.firstChild);
							}
	                    	if (xhr.responseText != ""){
								reponse = xhr.responseText.split('!');
								for (var i in reponse) {
									coupe = reponse[i].split(",");
									var element = document.createElement("div");
									element.setAttribute("onclick","window.location = '/locations/" + coupe[1] + "'");
									element.className += "loc";
									var titre = document.createElement("h3");
									titre.textContent = coupe[0] + " (" + coupe[2] + ")";
									var auteur = document.createElement("p");
									var click = document.createElement("a");
									click.setAttribute('href',"/profile/" + coupe[3]);
									auteur.className += "droite";
									click.textContent = coupe[3];

									auteur.appendChild(click);
									element.appendChild(titre);
									element.appendChild(auteur)
									div.appendChild(element);
	                    		}
	                    	}
						}
						xhr.send(form);
					}
				</script>
			</div>
		</div>
	</body>
</html>